<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table class= "col-md-9 offset-md-3">
  <tr>
    <td><%= f.label :メールアドレス %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50" %></td>
  </tr>
  <tr>
    <td><%= f.label :パスワード %></td>
    <td><%= f.password_field :password, autocomplete: "current-password", size: "50" %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit "ログイン" ,class:"btn btn-primary"%></td>
  </tr>
</table>
<% end %>

<%= render "admin/shared/links" %>
