<h1>左３使ってジャンル検索</h1>
<%= render 'public/items/list', genres: @genres %>
<p>１挟む</p>

<h1>ここから右８</h1>
<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<h2>新着商品</h2>

<% @items.each do |item| %>
<table>
  <tr><td><%= image_tag item.image.variant(resize_to_limit:[200,200]) %></td></tr>
  <tr><td>
    <%= link_to item_path(item.id) do %>
    <%= item.name %>
    <% end %>
  </td></tr>
  <tr><td>￥<%= item.price.to_s(:delimited, delimiter: ',') %></td></tr>
</table>
<% end %>
<%=link_to "全ての商品を見る",items_path %>