<h1>配送先編集</h1>
<div class="col-md-9">
   <%= form_with model: @address, url: address_path, method: :patch do |f| %>
<table>
  <tr>
    <td class="w-25">郵便番号(ハイフンなし)</td>
    <td class="w-25"><%= f.number_field :postal_code, :placeholder => "0000000" %></td>
  </tr>
  <tr>
    <td class="w-25">住所</td>
    <td class="w-50"><%= f.text_field :address, :placeholder => "東京都千代田区1-1", size: "50" %></td>
  </tr>
  <tr>
    <td class="w-25">宛名</td>
    <td class="w-25"><%= f.text_field :name, :placeholder => "令和太郎" %></td>
    <td><%= f.submit "変更内容を保存" ,class:"btn btn-success" %></td>
  </tr>
  <% end %>
</table>
<div>