<h1>配送先一覧/登録</h1>
<%= form_with model: @address, url: addresses_path do |f| %>
<table>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.number_field :postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit "新規登録" %></td>
  </tr>
</table>
<% end %>

<table border="1" style="border-collapse: collapse">
  <tr>
    <td>郵便番号</td>
    <td>住所</td>
    <td>宛名</td>
    <td></td>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>配送先</td>
    <td><%= link_to '一覧を見る',addresses_path %></td>
  </tr>
  <tr>
    <td>注文履歴</td>
    <td><%= link_to '一覧を見る',orders_path %></td>
  </tr>
</table>