<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', genres: @genres %>
    </div>

    <div class="col-md-9">
      <h1>商品一覧（全<%= @items.count %>件）</h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
        <div class="mb-3">
          <% if item.image.present? %>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image,style: "height: 150px; width: 100%; display: block;" %>
          <% end %>
          <% else %>
            <%= link_to item_path(item.id) do %>
              <%= image_tag 'no_image.jpg' %>
            <% end %>
          <% end %>

          <div>
              <%= item.name %>
            </br>
            <p>￥<%= item.price %></p>
            <% if item.is_active==false %>
              販売停止中
            <% end %>
      </td>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>