<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', genres: @genres %>
    </div>
  <div class="col-md-4">
  <% if @item.image.present? %>
    <%= image_tag @item.image.variant(resize_to_limit:[200,200]) %>
  <% else %>
    <%= image_tag 'no_image.jpg'%>
  <% end %>
</div>
<div class="col-md-5">
  <h1><%= @item.name %></h1>
  <h4><%= @item.introduction %></h4>
  <h4>￥<%= @item.add_tax_price %>円(税込)</h4>

  <%= form_with model: @cart_item, url: cart_items_path(@cart_item), local: true do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <% if @item.is_active==true %>
    <%= f.select :amount,*[1..5],include_blank: "数量を選んでください" %>
    <%= f.submit "カートに入れる" ,class:"btn btn-success" %>
  <% else %>
    現在、販売停止中です
  <% end %>
  <% end %>
</div>
  </div>
</div>
